<div class="wrapper">
	<div class="row">
			
		<!-- Left Column: Scores -->
		<div class="col-sm-4">

			<div class="bg score">
				<h1>Top Teams</h1>
				<table class="table" id="high_score_board">
					<thead>
						<tr>
							<th></th>
							<th>Team</th>
							<th>Spins</th>
							<th>SPM</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="score in shawarma_ctrl.boards.team_scores | limitTo:4">
							<td ng-bind="'#'+ (score.rank + 1)"></td>
							<td ng-bind="score.team"></td>
							<td ng-bind="score.display_score"></td>
							<td ng-bind="score.spm"></td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="bg score">
				<h1>Top Spinners</h1>
				<table class="table" id="high_score_board">
					<thead>
						<tr>
							<th></th>
							<th>Initials</th>
							<th>Spins</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="score in shawarma_ctrl.boards.high_scores | limitTo:4">
							<td ng-bind="'#'+ (score.rank + 1)"></td>
							<td ng-bind="score.initials"></td>
							<td ng-bind="score.display_score"></td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="id_container bg score">
				<h1>You</h1>
				<div>
				<div id="initials_box">
					<div class="initials_row">
						<label for="display_team">Team</label>
						<input type="text" id="display_team" ng-model="shawarma_ctrl.display.team" placeholder="Join a team" maxlength="3"/>
					</div>
					<div class="initials_row">
						<label for="display_initials">initials</label>
						<input type="text" id="display_initials" ng-model="shawarma_ctrl.display.initials" maxlength="3"/>
					</div>
				</div></div>
				<button id="update_id" class="score" ng-click="shawarma_ctrl.update_name()" ng-if="shawarma_ctrl.needs_name_updated()">Update</button>
			</div>
		</div>

		<!-- Social buttons -->
		<div class="col-sm-4" id="social_buttons">
			<a class="btn btn-social-icon btn-reddit"
				href="https://www.reddit.com/submit?url=http%3A%2F%2Fwww.shawarmaspin.com&title=Need%20to%20satisfy%20your%20craving%20for%20spinning%20meat%2C%20at%20work%3F%20Try%20shawarmaspin.com%2C%20your%20SFW%20spinning%20meat%20alternative"
				target="_blank"><i class="fa fa-reddit"></i></a>
			<a class="btn btn-social-icon btn-facebook"
				href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.shawarmaspin.com"
				target="_blank"><i class="fa fa-facebook"></i></a>
			<a class="btn btn-social-icon btn-twitter"
				href="https://twitter.com/intent/tweet?text=Need%20to%20satisfy%20your%20craving%20for%20spinning%20meat%2C%20at%20work%3F%20Try%20shawarmaspin.com%2C%20your%20SFW%20spinning%20meat%20alternative&source=webclient"
				target="_blank"><i class="fa fa-twitter"></i></a>
			<a class="btn btn-social-icon btn-google"
				href="https://plus.google.com/share?url=http%3A%2F%2Fwww.shawarmaspin.com"
				target="_blank"><i class="fa fa-google"></i></a>
			<a class="btn btn-social-icon btn-tumblr"
				href="https://www.tumblr.com/widgets/share/tool?canonicalUrl=http%3A%2F%2Fwww.shawarmaspin.com"
				target="_blank"><i class="fa fa-tumblr"></i></a>
		</div>

		<div class="col-sm-4">
			<div class="bg score" ng-if="shawarma_ctrl.player.team">
				<h1>Team: <span ng-bind="shawarma_ctrl.player.team"></span></h1>
				<div class="scrollable"><table class="table" id="online_board">
					<thead>
						<tr>
							<th>Initials</th>
							<th>Score</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="online in shawarma_ctrl.boards.team_online">
							<td ng-bind="online.initials"></td>
							<td ng-bind="online.display_score"></td>
							<td ng-bind="'Online'"></td>
						</tr>
					</tbody>
				</table></div>
			</div>

			<div class="bg score" ng-if="!shawarma_ctrl.player.team">
				<h1>Fellow Spinners
					<span ng-bind="'('+shawarma_ctrl.boards.online.length + ' online)'"></span>
				</h1>
				<div class="scrollable"><table class="table" id="online_board">
					<thead>
						<tr>
							<th>Initials</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="online in shawarma_ctrl.boards.online">
							<td ng-bind="online.initials"></td>
							<td ng-bind="'Online'"></td>
						</tr>
					</tbody>
				</table></div>
			</div>

			<div class="bg score">
				<h1>Chat</h1>
				<div class="tabs">
					<h1 ng-click="shawarma_ctrl.chatrooms.view = 'global'"
						ng-class="{'underlined': shawarma_ctrl.chatrooms.view == 'global'}">Global</h1>
					<h1 ng-click="shawarma_ctrl.chatrooms.view = 'team'" ng-if="shawarma_ctrl.player.team"
						ng-class="{'underlined': shawarma_ctrl.chatrooms.view == 'team'}">Team</h1>
				</div>
				<div ng-if="shawarma_ctrl.player.team && shawarma_ctrl.chatrooms.view === 'team'">
					<div class="scrollable messages">
						<div ng-repeat="message in shawarma_ctrl.messages_team">
							<span ng-bind="message.from.initials"></span> :
							<span ng-bind="message.text"></span>
						</div>
						<div ng-if="shawarma_ctrl.messages_team.length == 0">
							No Messages.
						</div>
					</div>
					<form ng-submit="shawarma_ctrl.send_message_team()" class="message-form">
						<input type="text" ng-model="shawarma_ctrl.new_message_team"></input>
						<button type="submit" ng-if="shawarma_ctrl.new_message_team">
							Send
						</button>
					</form>
				</div>
				<div ng-if="shawarma_ctrl.chatrooms.view === 'global'">
					<div class="scrollable messages">
						<div ng-repeat="message in shawarma_ctrl.messages_global">
							<span ng-bind="message.from.initials"></span> :
							<span ng-bind="message.text"></span>
						</div>
						<div ng-if="shawarma_ctrl.messages_global.length == 0">
							No Messages.
						</div>
					</div>
					<form ng-submit="shawarma_ctrl.send_message_global()" class="message-form">
						<input type="text" ng-model="shawarma_ctrl.new_message_global"></input>
						<button type="submit" ng-if="shawarma_ctrl.new_message_global">
							Send
						</button>
					</form>
				</div>
			</div>
		</div>

	</div>
</div></div></div>