@font-face {
	font-family: 'emulogic';
	src: url('fonts/emulogic.eot');
	src: local(''), url('emulogic.woff') format('woff'), url('emulogic.ttf') format('truetype'), url('emulogic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'Open Sans', sans-serif;
	padding: 30px;
}

/* VIDEO */
#bgvid {
	background-position: 50% 50%;
	background-size: cover;
	background-image: url("/img/1080p.png");
	background-repeat:  no-repeat;
	left: 50%;
	min-width:100%;
	min-height:100%;
	position: fixed;
	top: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	z-index: -100;
}

.bg {
	background-color: #000;
	background-color: rgba(0,0,0,0.7);
	padding: 1px 15px 15px 15px;
	color: #F0F0F0;
	margin-bottom: 30px;
	font-size: small;
}

h1 {
	text-align: center;
	font-size: large;
}

.score {
	font-family: 'emulogic', monospace;
	font-size: small;
}

.score table {
	text-align: center;
}

.score .scrollable {
	max-height: 275px;
	overflow-y: scroll;
}

.score table th {
	text-align: center;
}

.your_score {
	font-size: 48px;
	text-align: center;
}

#initials_box {
	display: table;
	margin-bottom: 10px;
}

#initials_box .initials_row {
	display: table-row;
}

#initials_box .initials_row > * {
	display: table-cell;
	padding: 10px;
	text-align: center;
	background: none;
	color: #F0F0F0;
}

#social_buttons {
	text-align: center;
}

.bg input {
	border: 2px solid #F0F0F0;
	border-width: 0 0 2px 0;
	width: 100%;
	padding: 10px;
	text-align: center;
	background: none;
	color: #F0F0F0;
}

.messages {
	font-size: small;
	margin-bottom: 10px;
}

#bottom_row {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
}

#bottom_row .disconnected {
	color: red;
	font-size: 32px;
	text-align: center;
}

#bottom_row .bg {
	margin: 0;
}

.bg button {
	border: none;
	display: block;
	height: 35px;
	line-height: 35px;
	margin: 0 auto;
	background-color: #F0F0F0;
	color: black;
}